body div#container div#blog div.list {
  margin: 0;
}
body div#container div#blog div.list ul li {
  list-style: none;
  border: 1px solid black;
}
body div#container div#blog div.list ul li h2 {
  margin: 0;
}
