/web/bundles/acmedemo
/web/bundles/framework
/web/bundles/sensiodistribution

/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml

/vendor/

/src/Acme

/web/fonts/czcionki
/web/images/favicon
/nbproject