{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Blog:blog{% endblock %}

{% block body %}
<div id="blog">
 <h1>Welcome to the Blog:blog page</h1>
    <div class="list">
        <p>Tutj znajduje się lista wpisów na bloga</p>    
    </div>     
</div>
{% endblock %}
