{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Blog:show{% endblock %}

{% block body %}
<div id="blog">
 <h1>Welcome to the Blog:show page</h1>
    <div class="post">  
        <p>To jest miejsce na tresc wpisu na bloga</p>
    </div>     
</div>
{% endblock %}
