{% extends "AdrjWorksBundle:Works:show.html.twig" %}

{% block title %}Works:program{% endblock %}

{% block workType %}program{% endblock %}

{% block work %}
<p>Tu znajduje sie widok szczegolow dotyczacych wybranej pracy typu <b>strona internetowa</b>.</p>
{% endblock %} 