{% extends "AdrjWorksBundle:Works:show.html.twig" %}

{% block title %}AJ - {{ work.title }}{% endblock %}

{% block workType %}Strona internetowa{% endblock %}

{% block work %}
<p>Tu znajduje sie widok szczegolow dotyczacych wybranej pracy typu <b>strona internetowa</b>.</p>
{% endblock %} 
