{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Works:work_title{% endblock %}

{% block body %}
<div id="works">    
    <div class="work">
        <h1>Tytul pracy</h1>
        <p>Tutaj znajduje sie zawartosc konkretnej pracy</p>  
    </div>
</div>
{% endblock %}
