{% extends "AdrjWorksBundle:Works:show.html.twig" %}

{% block title %}Works:program{% endblock %}

{% block workType %}program{% endblock %}

{% block work %}
<p>Tu znajduje sie widok szczegolow dotyczacych wybranej pracy typu <b>strona internetowa</b>.</p>
<p>Tu powinno znalezc sie:</p>
<ul>
    <li>Tytul</li>
    <li>miniatury strony</li>
    <li>opis wykonanych prac</li>
    <li>szczegoly techniczne (?)</li>
</ul>
{% endblock %} 