{% extends "::base.html.twig" %}

{% block title %}AJ works{% endblock %}

{% block body %}
<div id="works">
    <h1>Moje prace</h1>
    <div class="overall">
        <p>Strona startowa działu prac.</p>
        <div class="category">
            <p>Dostepne kategorie prac:</p>
            <ul>
                <li><a href="{{ path('works_list', { 'category':'graphics' }) }}">Grafika</a></li>
                <li><a href="{{ path('works_list', { 'category':'programs' }) }}">Programy</a></li>
                <li><a href="{{ path('works_list', { 'category':'websites' }) }}">Strony internetowe</a></li>
                <li><a href="{{ path('works_list', { 'category':'all' }) }}">Wszystko</a></li>
            </ul>     
        </div> 
        {% block list %}{% endblock %}    
    </div>
</div>
{% endblock %}
