{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Works:works_page{% endblock %}

{% block body %}
<div id="works">
    <h1>Welcome to the Works:works page</h1>
    <div class="overall">
        <p>Strona startowa dzialu prac</p>
        <div class="category">
            <p>Dostepne kategorie prac</p>
            <ul>
                <li><a href="{{ path('works_list', { 'category':'graphics' }) }}">Grafika</a></li>
                <li><a href="{{ path('works_list', { 'category':'programs' }) }}">Programy</a></li>
                <li><a href="{{ path('works_list', { 'category':'websites' }) }}">Strony internetowe</a></li>
                <li><a href="{{ path('works_list', { 'category':'all' }) }}">Wszystko</a></li>
            </ul>     
        </div> 
        {% block list %}{% endblock %}    
    </div>
</div>
{% endblock %}
