/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===========================================================================
    Czcionki
   =========================================================================== */
/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../../../fonts/OpenSans-Light-webfont.eot');
  src: url('../../../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../../../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../../../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Semibold-webfont.eot');
  src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Semibold-webfont.woff') format('woff'), url('OpenSans-Semibold-webfont.ttf') format('truetype'), url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../../fonts/OpenSans-Bold-webfont.eot');
  src: url('../../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../../../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../../../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
    Kolory
   ========================================================================== */
/* Kolory motywu */
/* ==========================================================================
   Author's custom styles
   Główna struktura elementów strony do ostylowania 
   ========================================================================== */
/* == CIAŁO DOKUMENTU == */
body {
  font-family: 'Open Sans', 'Segoe UI Light', Tahoma, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 80%;
  min-width: 480px;
}
/* == NAGŁÓWEK == */
header {
  border-bottom: 1px solid #ff6a00;
  margin: 0 auto;
  min-height: 60px;
  min-width: 100%;
  padding: 0 0 10px 0;
}
header p,
header h2 {
  float: left;
  margin: 0;
}
header h2 {
  border-left: 1px solid #ff6a00;
  font-size: 1.9em;
  font-weight: normal;
  margin: 5px 0 0 0;
  padding: 0 0 0 10px;
}
header img.logo {
  display: block;
  float: left;
  height: 60px;
  margin: 5px 10px;
}
/* == GŁÓWNY KONTENER == */
div#container {
  float: left;
  margin: 5px auto;
  min-width: 100%;
  min-height: 480px;
  position: relative;
}
div#container h1 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
/* == DZIAŁY STRONY == */
/* DZIAŁ STRONY DOMOWEJ */
/* DZIAŁ BLOGA */
div#blog {
  float: left;
  padding: 0 0 0 15px;
}
div.list.posts ul li {
  margin: 0 0 5px 0;
  padding: 2px;
  width: 65%;
  position: relative;
}
div.list.posts ul li a {
  display: block;
  color: #ff6a00;
  float: left;
  text-decoration: none;
}
div.list.posts ul li a h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
div.list.posts ul li p.description {
  color: #808080;
  clear: both;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-indent: 10px;
}
div.list.posts ul li p.createTime {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
/* DZIAŁ PRAC */
/* DZIAŁ UDOSTĘPNIANIA PLIKÓW */
/* STOPKA STRONY */
footer {
  border-top: 1px solid #ff6a00;
  clear: both;
  margin: 0 auto;
  min-width: 100%;
  float: left;
}
footer h5 {
  text-align: right;
}
/* ==========================================================================
   Klasy elementów powtarzających się w różnych działach 
   ========================================================================== */
header ul.menu {
  list-style-type: none;
  margin: 10px 1% 0 1%;
  padding: 0;
  float: right;
}
header ul.menu li {
  display: inline;
  float: left;
  margin: 0 2px;
  position: relative;
}
header ul.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0 5px;
  padding: 0px;
  width: 80px;
  transition: padding 100ms;
}
header ul.menu li a:hover {
  color: #808080;
  border-right: 1px solid #ff6a00;
  padding: 0 5px 0 0;
  transition: padding 100ms;
}
div#logging {
  display: block;
  float: right;
  margin: 10px 1% 0 0;
}
div#logging a {
  color: #ff6a00;
  text-decoration: none;
  font-size: 1.4em;
  display: block;
  float: right;
}
div#logging a:hover {
  color: #808080;
}
.list ul,
.list ol {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li,
.list ol li {
  background-color: #eeeeee;
}
/* ==========================================================================
   Specjalne elementy stylu możliwe do zastosowania w różnych elementach
   ========================================================================== */
.bc {
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
}
.bc.top-left {
  top: 0;
  left: 0;
  border-top: 1px solid #ff6a00;
  border-left: 1px solid #ff6a00;
}
.bc.top-right {
  top: 0;
  right: 0;
  border-top: 1px solid #ff6a00;
  border-right: 1px solid #ff6a00;
}
.bc.bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ff6a00;
  border-left: 1px solid #ff6a00;
}
.bc.bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #ff6a00;
  border-right: 1px solid #ff6a00;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
