{% extends "::base.html.twig" %}

{% block body %}
<div id="home" >
    <p>So..., hi! My name is Adrian. I born in Poland, and I'm living here at present. My attention focuses
    on computers in many ways of using them: programming, networking or graphics. Last kind of usage it
    is the easiest because, I think, I have some gift from somewhere :) that's of course demands lots of work. But actually I'm hard working on
    improving my programming skill. It's very enjoyable when I am absorbed by this but it is big opportunity
    to start coding. I always thinking about my low skills at the beginning, but I'm fighting. That was my short
    presentation. For more info I want to invite you <a href="">here</a>. Thanks! 
    </p>
    <sup>PS: Sorry if my language is not accurate enough :/. My knowledge about it I'm gathering most from
     IT publications. Let me know if something wrong at <u>adrian.jedrzejak@ajsite.pl</u> </sup>
    <p>
    Welcome to the personal site template! To get started, click any of the 
    menu items for additional setup instructions.
    </p>
    
</div>
{% endblock %}