{% extends "::base.html.twig" %}

{% block title %}AJ files{% endblock %}

{% block body %}
<div id="files">
<h1>Dostęp do plików</h1>
    {% if message is defined %}
    <p class="message">{{ message }}</p>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('files_add_file') }}">dodaj pliki</a>
    {% endif %}
    <a href="{{ path('files_show_list') }}">pliki publiczne</a>
    <p>Wprowadz token, aby uzyskac dostep do plikow przeznaczonych dla ciebie</p>
    <div class="access-form">
        {{ form(tokenForm) }}
    </div>
</div>
{% endblock %}
