{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Files:access_page{% endblock %}

{% block body %}
<div id="files">
<h1>Welcome to the Files:access page</h1>
    <div class="access-form">
    <p>Tutaj znajduje sie pole do wprowadzenia tokena</p>
    </div>
</div>
{% endblock %}
