{% extends "::base.html.twig" %}

{% block title %}AdrjBundle:Files:show_list{% endblock %}

{% block body %}
<div id="files">
<h1>Welcome to the File list:show page</h1>
    <div class="list">
    <p> Tutaj znajduje sie lista dostepnych plikow</p>
        <ul> 
        {% for file in files %}
        <li><div class="bc top-left"></div>
            <a href="{{ path('files_get_file', { 'fileName':file.name }) }}">{{ file.name }}</a>
        <div class="bc bottom-right"></div></li>
        {% endfor %} 
        </ul>   
    </div>
</div>
{% endblock %}