{% extends "::base.html.twig" %}

{% block title %}AJ files list{% endblock %}

{% block body %}
<div id="files">
<h1>Lista dostępnych plików</h1>
    <div class="list">
    <p> Tutaj znajduje się lista dostępnych plików:</p>
        <ul> 
        {% for file in files %}
        <li><div class="bc top-left"></div>
            <a href="{{ path('files_get_file', { 'fileName':file.name }) }}">{{ file.name }}</a>
        <div class="bc bottom-right"></div></li>
        {% endfor %} 
        </ul>   
    </div>
</div>
{% endblock %}