{% extends "AdrjBlogBundle::blogBase.html.twig" %}
{% block title %}Blog - dodaj wpis{% endblock %}

{% block blogContainer %}
{{ parent() }}
<div id="blog">
 <h1>Dodaj wpis:</h1>
    <div class="form add">  
        {{ form(form) }}
    </div>     
</div>
{% endblock %}

